body {
    font-family: 'Poppins', sans-serif;
    background-color: #dfd9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}